<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Chronology of Maps</h2>
                    <h3 class="section-subheading text-muted">The progression of map towards decentralization.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Map 1.0</h4>
                                    <h4 class="subheading">Digital Map</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Maps are made digital, interactive and searchable. But lacks openness, privacy and large-scale community contribution.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Map 2.0</h4>
                                    <h4 class="subheading">Open Map</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted"> The Open Street Map initiative allowed for wide community participation, providing free and open data.
                                        However, the underlying technology have not improved much since its inception 10 years ago. Furthermore, the open contribution model lacks social-economic structure,
                                        making difficult to govern and incentivize the community.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Map 3.0</h4>
                                    <h4 class="subheading">Concensus Map</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Coherent system design of technology, community and economy.
                                        Enabled by decentralized map technology, self-governed community and sustainable map economy.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Join
                                    <br>Us
                                    <br>Now!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>