<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">See Our Services in Action</h2>
                    <!--<h3 class="section-subheading text-muted">The progression of map towards decentralization.</h3>-->
                </div>
                <div class="row">
                    <div class="col-md-9" style="padding-top: 10px">
                        <div id="map"></div>
                    </div>
                    <div class="col-md-3">
                        <div class="panel panel-default">
                            <div class="panel-heading" style="color: white; background: #4F1D7C;">Node Metrics</div>
                            <div class="panel-body" style="text-align: left">
                                <strong style="font-size: 20px;">127</strong> live nodes and growing
                                <br>
                                <strong style="font-size: 20px;">99.9%</strong> service availability
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" style="color: white; background: #4F1D7C;">Usage Metrics</div>
                            <div class="panel-body" style="text-align: left">
                                <strong style="font-size: 20px;">7,352,842</strong> API requests made
                                <br>
                                <strong style="font-size: 20px;">>100M</strong> API capacity/day
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" style="color: white; background: #4F1D7C;">Map Data Metrics</div>
                            <div class="panel-body" style="text-align: left">
                                <strong style="font-size: 20px;">23.7M</strong> of POIs
                                <br>
                                <strong style="font-size: 20px;">360.6M</strong> of buildings
                                <br>
                                <strong style="font-size: 20px;">1.8M KM<sup>2</sup></strong> of land coverage
                                <br>
                                <strong style="font-size: 20px;">137.1M</strong> of roads
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=fetch,Promise"></script>
        <script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v5.3.0/build/ol.js"></script>
        <script src="https://unpkg.com/ol-mapbox-style@4.1.0/dist/olms.js"></script>
        <script>
            olms('map', 'https://static.hyn.space/maptiles/hyn-common.json').then(function(map) {
                // do anything with the passed `ol.Map` instance here.
            });
        </script>
    </section>