  <footer>
        <div class="container">
            <div class="row">
                <div class="col-xs-3">
                    <span class="copyright">Copyright &copy; {{ site.title }} {{ 'now' | date: "%Y" }}</span>
                </div>
                <div class="col-xs-2">
                    <ul class="list-inline quicklinks">
                        <li><a href="https://github.com/hyperion-hyn/wiki/wiki/FAQ">FAQ</a>
                        </li>
                    </ul>
                </div>
                <div class="col-xs-2">
                    <ul class="list-inline quicklinks">
                        <li><a href="https://github.com/hyperion-hyn/wiki/wiki/Terms-of-Service">Terms of Service</a>
                        </li>
                    </ul>
                </div>
                <div class="col-xs-2">
                    <ul class="list-inline quicklinks">
                        <li><a href="https://github.com/hyperion-hyn/wiki/wiki/Privacy-Policy">Privacy Policy</a>
                        </li>
                    </ul>
                </div>
                <div class="col-xs-2">
                    <ul class="list-inline quicklinks">
                        <li>
                            <a href="#card1" data-toggle="modal">Notice & Disclaimer</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
