<!-- Team Section -->
    <section id="hyperion" class="hyperion-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">What is Hyperion?</h2>
                    <p class="row section-subheading text-muted">
                        Hyperion, a decentralized map paltform, aims to achieve the “<b>One Map</b>” vision - to provide an unified view of global map data and service, and to make it universally accessible just like a public utility for 10B people. Built on the Spatial Consensus Protocol which encloses not just spatial information but also value transfer, Hyperion fundamentally redefines the way we create and consume map services, conforming to our first principles to make maps aggressively open and decentralized.

                        <br />
                        <br />
                    </p>
                </div>
            </div>
        </div>
    </section>