 <!-- jQuery Version 1.11.0 -->
    <script src="{{ "/js/jquery-1.11.0.js" | prepend: site.baseurl }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ "/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>

    <!-- Plugin JavaScript -->
    <script src="{{ "/js/jquery.easing.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/classie.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/cbpAnimatedHeader.js" | prepend: site.baseurl }}"></script>

    <!-- Contact Form JavaScript -->
    <script src="{{ "/js/jqBootstrapValidation.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/contact_me.js" | prepend: site.baseurl }}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{{ "/js/agency.js" | prepend: site.baseurl }}"></script>

 <div style="display:none">
    <script type="text/javascript" src="https://s96.cnzz.com/z_stat.php?id=1277050005&web_id=1277050005"></script>
 </div>
 <script>
     let type = navigator.appName;
     if (type === "Netscape"){
         lang = navigator.language;//获取浏览器配置语言，支持非IE浏览器
     }else{
         lang = navigator.userLanguage;//获取浏览器配置语言，支持IE5+ == navigator.systemLanguage
     }
     let sub_lang = lang.substr(0, 2);//获取浏览器配置语言前两位
     let instrTitleID = "";
     let instrContentID = "";
     if (sub_lang === "zh" && lang === "zh-CN"){
         instrTitleID = "zh-CN-instr-title";
         instrContentID = "zh-CN-instr";
         guideTitleID = "zh-CN-guide-title";
         guideContentID = "zh-CN-guide"
     } else{ //default is en
         instrTitleID = "en-instr-title";
         instrContentID = "en-instr";
         guideTitleID = "en-guide-title";
         guideContentID = "en-guide"
     }

     $("#" + instrTitleID).css("display", "block");
     $("#" + instrContentID).css("display", "block");
     $("#" + guideTitleID).css("display", "block");
     $("#" + guideContentID).css("display", "block");
 </script>