<!-- Services Section -->
    <section id="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Map3 Features</h2>
                    <h3 class="section-subheading text-muted">Why does Map3 matter?</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shield fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Privacy</h4>
                    <p class="text-muted">Custom protocol to protect the privacy of consumers & enterprises.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-money fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Free</h4>
                    <p class="text-muted">Maintained by a collective group of map enthusiast all over the world.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-balance-scale fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Consensus</h4>
                    <p class="text-muted">Code is law, guaranteed by fault-tolerant consensus protocol.</p>
                </div>
            </div>
        </div>
    </section>