<!-- Team Section -->
    <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-4" style="padding-top: 50px; padding-bottom: 50px;">
                    <h3 class="section-heading">Decentralized Infrastructure</h3>
                    <ul class="text-muted inside-list">
                        <li>Scalable service capacity</li>
                        <li>Rich community map contents</li>
                        <li>Ultraly robust map service that can never to shut down</li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <img style="height:350px" src="../img/map3logo.png"/>
                </div>
                <div class="col-md-4 " style="padding-top: 50px; padding-bottom: 50px;">
                    <h3 class="section-heading">Innovative Technologies</h3>
                    <ul class="text-muted inside-list">
                        <li>Intelligent p2p discovery and routing</li>
                        <li>Decentralized TLS protocol</li>
                        <li>Elastic spatial sharding of data and compute</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>