<section class="welcome_area clearfix" id="home">
    <div class="welcome-bg-shape">
        <img class="welcome-first-shape" src="../../img/core-img/welcome-bg-1.png" alt="">
        <img class="welcome-second-shape" src="../../img/core-img/welcome-bg-2.png" alt="">
    </div>

    <!-- Shape -->
    <div class="container h-100" style="height: 960px;">
        <div class="row h-100 align-items-center">
            <div class="col-12 col-md-7">
                <div class="welcome-content content-padding" id="instr">
                    <h4 id="zh-CN-instr-title" style="display: none"><span>私密位置分享说明</span></h4>
                    <h6 id="zh-CN-instr" style="display: none">
                        泰坦通过加密技术将用户需分享的位置信息生成一串密码符号，以达到百分百保护用户隐私的目的。简易操作步骤即可与选取对象分享位置密文。对方在泰坦地图内可一键解码密文。
                    </h6>

                    <h4 id="en-instr-title" style="display: none"><span>Cryptographic location share instructions</span></h4>
                    <h6 id="en-instr" style="display: none">
                        Titan achieves 100% privacy protection by cryptographic location share. Users can share encrypted location messages, and view location in decoded map with easy steps.
                    </h6>
                </div>

                <div class="welcome-content content-padding" id="guide">
                    <h4 id="zh-CN-guide-title" style="display: none"><span>泰坦“私密分享”操作攻略</span></h4>
                    <div id="zh-CN-guide" style="display: none">
                        <h6>用户A（分享位置密文）用户B （解码密文地图）</h6>
                        <h6><strong>步骤1:分享位置</strong></h6>
                        <h6>1.	B复制个人加密地址（公钥）通过社交App发送给A</h6>
                        <h6>2.	A在泰坦地图界面长按要分享给B的地图位置，并点击“私密分享”</h6>
                        <h6>3.	A粘贴B的加密地址（公钥）</h6>
                        <h6>4.	A选填附言（任何想与B私密分享的内容）</h6>
                        <h6>5.	A点击“加密并分享”生成密文并分享给B</h6>
                        <h6><strong>步骤2：解码位置</strong></h6>
                        <h6>1.	B复制位置密文信息</h6>
                        <h6>2.	B打开泰坦地图, 若密文自动显示，则点击“在地图中显示”</h6>
                        <h6>3.	若密文未自动显示，则将密文粘贴到顶部框内，并点击“解码”</h6>
                        <h6>4.	位置显示，私密位置解码成功</h6>
                        <h6>5.	信息分享完成后，可点击泰坦按钮、“清楚痕迹”焚烧位置记录</h6>
                    </div>

                    <h4 id="en-guide-title" style="display: none"><span>A simple guide to “cryptographic location share”</span></h4>
                    <div id="en-guide" style="display: none">
                        <h6>User A (Share encrypted location message), User B (View decoded map)</h6>
                        <h6><strong>Step 1: Share location</strong></h6>
                        <h6>1.	User B copy individual public key address and share it with User A via Messaging Apps</h6>
                        <h6>2.	User A select a location on Titan map, and click “share private location”</h6>
                        <h6>3.	User A paste User B’s public key address</h6>
                        <h6>4.	User A fill in notes to share with location (optional)</h6>
                        <h6>5.	User A Click “encrypt and share” to generate location code and share to B</h6>
                        <h6><strong>Step 2: View decoded map</strong></h6>
                        <h6>1.	User B copy location code received from User A</h6>
                        <h6>2.	Titan will automatically shows the code. User B click “Decode location in Map”</h6>
                        <h6>3.	Or User B manually paste the code to the top frame</h6>
                        <h6>4.	If location shows, your location is decoded successfully.</h6>
                        <h6>5.	Click “Titan” button to delete data after location share</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<div class="wxtip" id="JweixinTip">
    <span class="wxtip-icon"></span>
    <p class="wxtip-txt">Click on the top right<br/>Select open in browser</p>
</div>

<script type="text/javascript">
    let ua = navigator.userAgent;
    let isWeixin = !!/MicroMessenger/i.test(ua);
    if(isWeixin){
        document.getElementById('JweixinTip').style.display='block';

        document.getElementById('JweixinTip').onclick=function(){
            this.style.display='none';
        }
    }
</script>