<section class="welcome_area clearfix" id="home">
    <div class="welcome-bg-shape">
        <img class="welcome-first-shape" src="../../img/core-img/welcome-bg-1.png" alt="">
        <img class="welcome-second-shape" src="../../img/core-img/welcome-bg-2.png" alt="">
    </div>

    <!-- Shape -->
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12 col-md-7">
                <div class="welcome-content content-padding" style="height: available">
                    <h6><strong>Privacy Policy</strong></h6>
                    <h6>
                        Hyperion built the MapRush app as a Free app. This SERVICE is provided by Hyperion at no cost and is intended for use as is the service provided
                    </h6>
                    <h6>
                        This page is used to inform visitors regarding our policies with the collection, use, and disclosure of Device Information if anyone decided to use our Service.
                    </h6>
                    <h6>
                        We will not collect your information when you choose to use our Service. We will only collect your Device Information  when you choose to participate in our product improvement plan. We will not use or share your device information with anyone except as described in this Privacy Policy.
                    </h6>
                    <h6>
                        Information Collection and Use
                    </h6>
                    <h6>
                        For a better experience, when you agree to participate in our product improvement plan, we may require you to provide us with certain device information, including but not limited to Installation UUID, Secure Android ID, Mobile and IDS, IP Addresses, and Crash traces. The information that we request will be retained by us and used as described in this privacy policy.
                    </h6>
                    <h6>
                        The app does use third party services that may collect your device information.
                    </h6>
                    <h6>
                        Link to privacy policy of third party service providers used by the app<br/>
                        •	<a href="https://fabric.io/privacy" target="_blank">Fabric</a>
                    </h6>

                    </ul>
                    <h6>
                        Log Data
                    </h6>
                    <h6>
                        We want to inform you that whenever you use our Service, in a case of an error in the app we collect data and information (through third party products) on your phone called Log Data. This Log Data may include information such as your device Internet Protocol (“IP”) address, device name, operating system version, the configuration of the app when utilizing our Service, the time and date of your use of the Service, and other statistics.
                    </h6>
                    <h6>
                        Service Providers
                    </h6>
                    <h6>
                        We may employ third-party companies and individuals due to the following reasons:<br />
                        •	To facilitate our Service;<br />
                        •	To provide the Service on our behalf;<br />
                        •	To perform Service-related services; or<br />
                        •	To assist us in analyzing how our Service is used.<br />
                    </h6>
                    <h6>
                        We want to inform users of this Service that these third parties have access to your Device Information. The reason is to perform the tasks assigned to them on our behalf. However, they are obligated not to disclose or use the information for any other purpose.
                    </h6>
                    <h6>
                        Security
                    </h6>
                    <h6>
                        We value your trust in providing us your Device Information, thus we are striving to use commercially acceptable means of protecting it. But remember that no method of transmission over the internet, or method of electronic storage is 100% secure and reliable, and we cannot guarantee its absolute security.
                    </h6>
                    <h6>
                        Links to Other Sites
                    </h6>
                    <h6>
                        This Service may contain links to other sites. If you click on a third-party link, you will be directed to that site. Note that these external sites are not operated by us. Therefore, we strongly advise you to review the Privacy Policy of these websites. We have no control over and assume no responsibility for the content, privacy policies, or practices of any third-party sites or services.
                    </h6>
                    <h6>
                        Children’s Privacy
                    </h6>
                    <h6>
                        These Services do not address anyone under the age of 13. We do not knowingly collect personally identifiable information from children under 13. In the case we discover that a child under 13 has provided us with personal information, we immediately delete this from our servers. If you are a parent or guardian and you are aware that your child has provided us with personal information, please contact us so that we will be able to do necessary actions.
                    </h6>
                    <h6>
                        Changes to This Privacy Policy
                    </h6>
                    <h6>
                        We may update our Privacy Policy from time to time. Thus, you are advised to review this page periodically for any changes. We will notify you of any changes by posting the new Privacy Policy on this page. These changes are effective immediately after they are posted on this page.
                    </h6>
                    <h6>
                        Contact Us
                    </h6>
                    <h6>
                        If you have any questions or suggestions about our Privacy Policy, do not hesitate to contact us.
                    </h6>

                    <h6 style="text-align: center">
                        <br />
                        <br />
                        Copyright © HYN.space 2019 ~ 2020
                    </h6>
                </div>
            </div>
        </div>
    </div>

</section>

<div class="wxtip" id="JweixinTip">
    <span class="wxtip-icon"></span>
    <p class="wxtip-txt">Click on the top right<br/>Select open in browser</p>
</div>

<script type="text/javascript">
    let ua = navigator.userAgent;
    let isWeixin = !!/MicroMessenger/i.test(ua);
    if(isWeixin){
        document.getElementById('JweixinTip').style.display='block';

        document.getElementById('JweixinTip').onclick=function(){
            this.style.display='none';
        }
    }
</script>