<!-- Team Section -->
    <section id="titan" class="reset-section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 text-center">
                    <img src="{{ site.baseurl }}/img/logos/titan-logo.png" class="titan-logo">
                </div>
                <div class="col-lg-6 text-left">
                    <p class="row section-subheading text-muted">
                        The first ever truly privacy-aware map application built on strong cryptographic primitives. All map functions such as positioning and searching are computed locally at the phone. Your location trace will never leave your phone and you have the power to burn them all with just one click. Through our cryptographic library, you can even share a location to your friend with no other intermedia platforms learning where you are and where you want to go.
                    </p>
                    <p class="row section-subheading text-muted">
                        - Secure public key identity
                    </p>
                    <p class="row section-subheading text-muted">
                        - Ultra privacy with no location trace leaving your phone
                    </p>
                    <p class="row section-subheading text-muted">
                        - Cryptographic Location Sharing (CLS)
                    </p>
                </div>
                <div class="col-lg-3 text-center">
                    <a href="#"><img src="{{ site.baseurl }}/img/google-play.png" class="download-img"></a>
                    <a href="#"><img src="{{ site.baseurl }}/img/app-store.png" class="download-img"></a>
                    <img src="{{ site.baseurl }}/img/download-qr.png" class="download-img">
                </div>
            </div>
        </div>
    </section>